@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
*,
*::before,
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f9;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar .hamburger span {
  color: #c81c1c;
  font-size: 1.5rem;
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar .navbar-brand img {
  width: 60px;
  height: 60px;
  transform: translateY(-5px);
}

.navbar .navbar-brand h1 {
  font-size: 1.4rem;
  margin-left: 10px;
  font-family: 'Viga', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.2rem; /* Kurangi ukuran font */
  margin-left: 5px; /* Kurangi jarak antar item */
  font-weight: 600;
  color: #fff;
  transition: color 0.3s ease;
}

/* Jika perlu, atur lebar maksimal untuk .navbar */
.navbar {
  max-width: 100%; /* Memastikan seluruh item masuk dalam satu baris */
  overflow-x: auto; /* Agar bisa discroll jika tidak muat */
}


.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #c81c1c;
  text-decoration: underline;
}

.navbar .form-inline .form-control {
  border-radius: 20px 0 0 20px;
  border: 1px solid #c81c1c;
}

.navbar .form-inline .btn {
  width: 40px;
  border-radius: 0 20px 20px 0;
  background-color: #c81c1c;
  color: #fff;
  transition: background-color 0.3s ease;
}

.navbar .form-inline .btn:hover {
  background-color: #a11414;
}

.navbarKu {
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.navbarKu .navbar-brand h1,
.navbarKu .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #333;
}

.nav-item {
  position: relative;
}

.nav-item .dropdown-menu {
  position: absolute;
  left: 0;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.nav-item .dropdown-menu .dropdown-item {
  padding: 8px 12px;
  color: #333;
  transition: background-color 0.3s ease;
}

.nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #f0f0f0;
}

.slideshow {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slideshow img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.slideshow .satu {
  background-image: url("../images/pertama.jpg");
}

.slideshow .dua {
  background-image: url("../images/kedua.jpg");
}

.slideshow .tiga {
  background-image: url("../images/ketiga.jpeg");
}


.slideshow .container {
  position: absolute;
  bottom: 150px;
  left: 150px;
}

.slideshow .container .mainText {
  position: relative;
}

.slideshow .container .mainText .garis {
  position: absolute;
  width: 7px;
  height: 80px;
  border-radius: 10px;
  background-color: #FFA51C;
}

.slideshow .container .mainText h3 {
  font-size: 1.5rem;
  font-style: italic;
  margin-left: 30px;
  color: #fff;
}

.slideshow .container .mainText h1 {
  margin: 20px 0 40px 30px;
  font-weight: 1000;
  line-height: 10px;
  text-transform: uppercase;
  color: #fff;
}

.slideshow .container h3 {
  color: #fff;
  font-size: 1.1rem;
}

.title {
  margin: 150px auto 30px auto;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
}

.title h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 25px;
  text-align: center;
}

.title p {
  font-size: 1.1rem;
  text-align: center;
}


.scroll {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.scroll .navbar-brand h1,
.scroll .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #000;
}

.sambutan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 30px 0;
}

.sambutan h1 {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 600;
}

.sambutan p {
  font-style: italic;
  font-size: 1rem;
}

.iconBox {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 9999999999999999999999999999999999999999999;
}

.iconBox .perIconBox {
  width: 50px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.perIconBox:hover {
  color: #dadada;
}

.wa {
  background-color: #1bc22e;
}

.fb {
  background-color: #4867AA;
}

.ig {
  background: -webkit-gradient(linear, right top, left bottom, from(#5056C5), color-stop(#EE4B51), to(#F7B04D));
  background: linear-gradient(to bottom left, #5056C5, #EE4B51, #F7B04D);
}

.yt {
  background-color: #FF0000;
}

.linkin {
  background-color: #0077B5;
}


.footer {
  background-color: #263238;
  padding-top: 25px;
  padding-bottom: 50px;
  margin-top: 125px;
}

.footerContactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerContactUs .perFooterContactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.footerContactUs .perFooterContactUs p {
  margin: 0 0 0 20px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.footerAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footerAbout a {
  margin: 5px 0;
}

.footerCopyright {
  width: 100%;
  height: 60px;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerCopyright p {
  margin: 0;
}


.containerIconShare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerIconShare .iconShare {
  width: 50px;
  height: 40px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.fixed {
  position: fixed;
  right: 100px;
  top: 150px;
}


.kontak {
  margin: 150px 0 150px 0;
}

  .sambutan h1 {
    font-size: 1.7rem;
  }
  .sambutan p {
    font-size: .8rem;
  }

  .title h2 {
    font-size: 1.7rem;
  }
 
